@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: Metropolis;
  src: url(font/Metropolis-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Metropolis;
  src: url(font/Metropolis-RegularItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Metropolis;
  src: url(font/Metropolis-Medium.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Metropolis;
  src: url(font/Metropolis-MediumItalic.otf);
  font-weight: 600;
  font-style: italic;
}

h1, h2, h3 {
  font-family: Metropolis, sans-serif;
  font-weight: 400;
}
h4, h5, h6 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  font-style: italic;
  color: rgba(119,119,119,1);
}
nav > * {
  font-family: Metropolis, sans-serif;
  font-weight: 600;
}
button {
  font-family: Metropolis, sans-serif;
  font-weight: 600;
}
p {
  font-family: 'IBM Plex Serif', serif;
}