@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
  --text-color: rgba(22, 75, 92, .9);
  --active-text: rgba(22, 75, 92, 1);
  --secondary-text: rgba(22, 75, 92, .7);
  --button-color: rgba(21, 132, 252, 1);
  --button-text: rgba(255,255,255,1);
  --quote: rgba(22, 75, 92, .8);
}

#fiore {
  background-image: url(../img/bg/2.jpg);
}
#montisola {
  background-image: url(../img/bg/3.jpg);
}
#tramonto {
  background-image: url(../img/bg/1.jpg);
}

html {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  transition: .3s;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2.1rem;
  font-weight: 700;
}
h2 {
  transition: .3s;
  margin: 1.2rem auto .8rem;
  line-height: 2.4rem;
  font-size: 1.8rem;
  font-weight: 600;
}
h3 {
  margin: 1rem auto .5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: .5rem auto 1rem;
}
a {
  text-decoration: none;
  font-family: "Spartan", sans-serif;
}
button {
  font-family: "Spartan", sans-serif;
  color: var(--button-text);
}
button > * {
  color: var(--button-text);
}

.glass {
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 30px;
  background: linear-gradient(165deg, rgba(255, 255, 255, .64), rgba(255, 255, 255, .16));
  backdrop-filter: blur(20px);
}

#header {
  margin-left: 5%;
  transition: .3s;
  z-index: 5;
  position: fixed;
  height: 9rem;
  top: 3%;
  margin-top: 0;
  padding-bottom: 1rem;
  background: linear-gradient(165deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, .4));
  box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
}
header > h1 {
  font-size: 2.1rem;
  text-align: center;
}
nav {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-areas: "a a a a";
  justify-content: center;
}
nav > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  color: var(--secondary-text);
}
nav > a > p {
  margin-top: .5rem;
  transition: .3s;
}
nav > a > svg {
  width: 30px;
  height: 30px;
}

main {
  margin-top: 13rem;
}

footer {
  width: 100%;
  margin-top: 1rem;
  background: linear-gradient(165deg, rgba(255, 255, 255, .64), rgba(255, 255, 255, .16));
  backdrop-filter: blur(20px);
}

blockquote {
  display: inline-block;
  margin: auto;
  padding: 0;
}

.content {
  padding: 1rem;
}

.current {
  color: var(--active-text);
}

.center {
  display: block;
  margin: auto;
}
.h {
  width: 90%;
}

.buttonlink {
  transition: .3s;
  padding: .6rem;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 12px;
  border: 2px solid var(--button-color);
  background: var(--button-color);
}
.buttonlink:hover {
  cursor: pointer;
  border: 2px solid var(--button-text);
}
.buttonlink:active {
  transform: scale(.95);
}

.privacy > div {
  display: flex;
}

.privacy > div > svg {
  width: 250px;
  height: auto;
}

.quote {
  font-family: 'Lora', serif;
  color: var(--quote);
}
.quote > h3 {
  text-align: center;
}
.quote > h4 {
  text-align: end;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
}
.social-links > a > img {
  width: 3rem;
  height: 3rem;
}
.credits > a {
  color: var(--active-text);
  font-weight: 700;
}

#f-content {
  padding: 1.5rem;
}

#more {
  height: 20rem;
}

#welcome {
  width: 98%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#welcome > img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
/* 
@media () {
  .centerquote {
    width: max-content;
    margin: auto;
  }
} */