@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
  --primary-text: rgba(3, 64, 85, 0.9);
  --secondary-text: rgba(5, 80, 105, 0.6);
  --active-text: rgba(3, 64, 85, 1);
  --button-color: rgba(21, 132, 252, 1);
  --button-op: rgba(21, 132, 252, .8);
  --button-text: rgba(255,255,255,1);
  --button-text-op: rgba(255,255,255,.9);
  --quote: rgba(22, 75, 92, .8);
}

#fiore {
  background-image: url(img/bg/2.webp);
}
#montisola {
  background-image: url(img/bg/3.webp);
}
#montisola > .glass {
  background: linear-gradient(165deg, rgba(255, 255, 255, .64), rgba(255, 255, 255, .4));
}
#tramonto {
  background-image: url(img/bg/1.webp);
}

html {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  height: 100%;
  background-color: grey;
  background-image: url(img/bg/2.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--primary-text);
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  transition: .3s;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2.1rem;
  font-weight: 700;
}
h2 {
  transition: .3s;
  margin: 1.2rem auto .8rem;
  line-height: 2.4rem;
  font-size: 1.8rem;
  font-weight: 600;
}
h3 {
  margin: .5rem auto 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: .5rem auto 1rem;
}
a {
  text-decoration: none;
  font-family: "Spartan", sans-serif;
}
button {
  font-family: "Spartan", sans-serif;
  color: var(--button-text);
}
button > * {
  color: var(--button-text);
}

.glass {
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 30px;
  background: linear-gradient(165deg, rgba(255, 255, 255, .64), rgba(255, 255, 255, .36));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#header {
  margin-left: 5%;
  transition: .3s;
  z-index: 5;
  position: fixed;
  height: 9rem;
  top: 3%;
  margin-top: 0;
  padding-bottom: 1rem;
  background: linear-gradient(165deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, .4));
  box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
}
header > h1 {
  transition: .1s;
  font-size: 2.1rem;
  text-align: center;
}
nav {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-areas: "a a a a";
  justify-content: center;
}
nav > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  color: var(--secondary-text);
}
nav > a > p {
  margin-top: .5rem;
  transition: .3s;
}
nav > a > svg {
  width: 30px;
  height: 30px;
}

main {
  margin-top: 13rem;
}

#footer {
  width: 100%;
  margin-top: 1rem;
  background: linear-gradient(165deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
}

blockquote {
  display: inline-block;
  margin: auto;
  padding: 0;
}

.hr:before {
  content: " ";
  display: block;
  border-bottom: 2px solid var(--secondary-text);
  margin: 1.5rem 0;
}
ul {
  list-style-type: hiragana;
}
li {
  margin-bottom: .5rem;
}
li > a {
  color: var(--primary-text);
  font-weight: 600;
}

#f-content {
  padding: 1.5rem;
}

#more {
  height: 20rem;
}

#welcome {
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome > img {
  margin-top: 1rem;
  width: 290px;
  height: auto;
}

#projects > a {
  display: block;
  color: var(--primary-text);
}

#projects > a > * {
  display: block;
  margin-top: .5rem;
  margin-left: auto;
  margin-right: auto;
}

#not_found {
  text-align: center;
}
#not_found > img {
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 50%;
}

#about_me > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about_me > div > img {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.content {
  padding: 1rem;
}

.current {
  color: var(--active-text);
}

.center {
  display: block;
  margin: auto;
}
.center-text {
  text-align: center;
}
.h {
  width: 90%;
}

.buttonlink {
  transition: .3s;
  padding: .6rem;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 12px;
  border: 2px solid var(--button-color);
  background: var(--button-color);
}
.buttonlink:hover {
  cursor: pointer;
  border: 2px solid var(--button-text);
}
.buttonlink:active {
  transform: scale(.95);
}

.privacy > div {
  display: flex;
}

.privacy > div > svg {
  width: 250px;
  height: auto;
}

#interactive_bio {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: rgba(255, 255, 255, .8);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 30px;
  border: 2px solid var(--secondary-text);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--button-color);
  cursor: pointer;
  border: 3px solid var(--button-color);
  border-radius: 30px;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--button-color);
  cursor: pointer;
  border: 3px solid var(--button-color);
  border-radius: 30px;
}

#range_wrap {
  width: 80%;
  position: relative;
  margin: 0 auto 3rem;
}
.bubble {
  background: var(--button-op);
  color: var(--button-text-op);
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}


.quote {
  font-family: 'Lora', serif;
  color: var(--quote);
}
.quote > h3 {
  text-align: center;
}
.quote > h4 {
  text-align: end;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
}
.social-links > a > img {
  width: 3rem;
  height: 3rem;
}
.credits > a {
  text-decoration: underline;
  color: var(--primary-text);
  font-weight: 700;
}

.thumbnail {
  width: 250px;
  height: 250px;
  margin-bottom: 1.5rem;
  border-radius: 25px;
  box-shadow: 0 0 15px 2px rgba(255, 255, 255, .5);
}
.nand2tetris {
  box-shadow: 0 0 15px 2px rgba(66, 84, 106, .5);
}
.ristmenu {
  box-shadow: 0 0 15px 2px rgba(238, 192, 109, .5);
}
.pomodoro {
  box-shadow: 0 0 15px 2px rgba(255, 39, 19, .5);
}
.library {
  box-shadow: 0 0 15px 2px rgba(241, 211, 154, .5);
}
.rockpaperscissor {
  box-shadow: 0 0 15px 2px rgba(33, 188, 107, .5);
}
.projects-link {
  margin-bottom: 2.5rem;
}
.last {
  margin-bottom: .5rem;
}

@media screen and (max-device-width: 480px) {  /* fix for bg dimension on iphone */
  header {
    background-attachment: scroll;
  }
}
/* 
@-moz-document url-prefix() {
  #footer, .glass {
    background: linear-gradient(165deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .6));
  }
}

@media () {
  .centerquote {
    width: max-content;
    margin: auto;
  }
  .slider:hover {
    opacity: 1;
  }
} */