@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
  --primary: rgba(3, 64, 85, .9);
  --inactive: rgba(5, 80, 105, .6);
  --select: rgba(3, 64, 85, 1);
  --primary_btn: rgba(21, 132, 252, 1);
  --text_btn: rgba(255, 255, 255, 1);
  --quote: rgba(22, 75, 92, .8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s ease;
}
html {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  height: 100%;
  background: linear-gradient(165deg, rgb(106, 171, 206), rgb(1, 94, 119)) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  overscroll-behavior: none;
}
body {
  color: var(--primary);
}

header {
  z-index: 5;
  position: fixed;
  top: 3%;
  left: 0;
  right: 0;
  width: 80%;
  padding: 0 1rem 1rem;
  margin: auto;
  border-radius: 30px;
  background: linear-gradient(165deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, .4));
  box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
header > h1 {
  text-align: center;
}
nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
nav > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
nav > a > p {
  margin: .5rem 0 0;
}
nav > a > svg {
  width: 30px;
  height: 30px;
}

footer {
  width: calc(100% - 2rem);
  margin-top: 2rem;
  padding: 1rem;
  background: linear-gradient(165deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
}

h1, h2 {
  margin: 1rem 0;
}
h3, h4 {
  margin: .8rem 0;
}
em {
  font-style: normal;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--primary);
}
button {
  padding: .6rem;
  font-size: 1.2rem;
  border-radius: 12px;
  border: 2px solid var(--primary_btn);
  background: var(--primary_btn);
  color: var(--text_btn);
}
button:hover {
  cursor: pointer;
  border: 2px solid white;
}
button:active {
  transform: scale(.95);
}
