@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;900&display=swap');

html {
  font-family: "Spartan", sans-serif;
  height: 100%;
  background-color: grey;
  background-image: url(../img/bg/2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  z-index: 5;
  position: fixed;
  width: 88%;
  height: 20%;
  left: 5%;
  top: 2%;
  border-radius: 30px;
  background: linear-gradient(165deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, .4));
  backdrop-filter: blur(30px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
}
header > h1 {
  margin-top: 2rem;
  font-size: 2.1rem;
  text-align: center;
  font-weight: 700;
  color: rgba(22, 75, 92, 0.9);
}

nav {
  display: flex;
  justify-content: space-evenly;
}
nav > a {
  text-decoration: none;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  color: rgba(22, 75, 92, 0.9);
}

#content {
  position: absolute;
  width: 88%;
  height: 94%;
  left: 5%;
  top: 26%;
  border-radius: 30px;
  background: linear-gradient(165deg, rgba(255, 255, 255, .64), rgba(255, 255, 255, .16));
  backdrop-filter: blur(20px);
}